/*@import 'font.css';*/
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Baloo Tammudu 2', cursive;
}

body {
    padding: 20px;
    background-color: gray;
    color: aliceblue;
    font-size: 16px;
}

button:active, button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

.btn {
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 5px;
    background-color: #e7dda5;
    color: #465705;
    cursor: pointer;
    font-size: 12px;
}

.btn_to-garage, .btn_to-winners {
    margin-bottom: 10px;
    background: #bad73a;
    font-size: 14px;

}

.btn:hover {
    background-color: rgba(186, 215, 58, 0.66);
}

.car_name {
    margin: 0 5px;
}

.title {
    margin-top: 5px;
    text-transform: capitalize;
    font-size: 26px;
}

.page {
    font-size: 20px;
    color: #bad73a;
    text-transform: capitalize;
}

.car_img {
    width: 64px;
    height: 50px;
    fill: rgb(255, 255, 255);
    stroke: #202020;
    position: absolute;
    left: 90px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
}

.race, .car_edit {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.car {
    margin: 15px 0;
    position: relative;
}

.btn_prev,.btn_next {
    font-size: 14px;
    background-color: #bad73a;
}

.flag {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 80px;
    bottom: 3px;
}

hr {
    margin-top: 9px;
}

th {
    width: 20%;
    text-transform: capitalize;
    text-align: left;
    color: #c4ad21;
}
