@font-face {
    font-family: 'Balsamiq Sans-Regular';
    src: url('../assets/fonts/BalsamiqSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Balsamiq Sans-Bold';
    src: url('../assets/fonts/BalsamiqSans-Bold.ttf') format('truetype');
}