/* text-shadow: $lime 1px 1px 0, $lime -1px -1px 0, $lime -1px 1px 0, $lime 1px -1px 0; */

/* roboto-regular - latin */

@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   src: local(''), url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
   url('../fonts/roboto-v20-latin-regular.woff') format('woff');
   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */

@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   src: local(''), url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
   url('../fonts/roboto-v20-latin-500.woff') format('woff');
   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */

@font-face {
   font-family: 'SceneW01-Black';
   src: url('../fonts/WebFont.eot');
   src: url('../fonts/12309.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

html {
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
}

/*header*/

.body {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   color: black;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.header {
   background: url("../assets/images/background-panda.png") 50%/cover no-repeat;
   height: 700px;
   width: 100%;
}

.wrapper {
   max-width: 1920px;
   margin: 0 auto;
}

.container {
   margin: 0 auto 200px;
   max-width: 1165px;
}

.header__menu {
   display: flex;
   flex-wrap: wrap;
   height: 80px;
   margin-bottom: 80px;
}

.header__logo-pic {
   margin-top: 12px;
   margin-right: 55px;
}

h1 {
   display: none;
}

.header__nav {
   margin: auto 0;
}

.header__list {
   display: flex;
   flex-wrap: wrap;
}

.header__iteme {
   margin-right: 35px;
}

.header__iteme:last-child {
   margin-right: 0;
}

.header__link {
   font-weight: 500;
   line-height: 21px;
   text-decoration: none;
   color: black;
}

.header__link_active {
   -webkit-text-stroke: 0.5px #70CB0E;
   color: black;
}

.header__link:hover, .header__link:focus {
   color: #796315;
}

.header__link:active {
   color: #53460e;
}

.header__burger {
   display: none;
}

@media (max-width:614px) {
   .header__menu {
      justify-content: space-between;
   }
   .header__burger {
      display: block;
      position: relative;
      width: 35px;
      margin-top: 30px;
      height: 20px;
      z-index: 6;
   }
   .header__burger span {
      position: absolute;
      background-color: black;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px;
      transition: all 0.2s ease 0s;
   }
   .header__burger::before, .header__burger::after {
      content: "";
      background-color: black;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.2s ease 0s;
   }
   .header__burger::before {
      top: 0;
   }
   .header__burger::after {
      bottom: 0;
   }
   .header__burger.active::before {
      transform: rotate(45deg);
      top: 9px;
   }
   .header__burger.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
   }
   .header__burger.active span {
      transform: scale(0);
   }
   .header__nav {
      position: fixed;
      z-index: 5;
      top: -100%;
      left: 0;
      width: 100%;
      height: 300px;
      background-color: #A7E1FF;
   }
   .header__nav.active {
      top: 0;
   }
   .header__list {
      padding: 40px 30px;
      display: block;
      font-size: 22px;
   }
   .header__iteme {
      margin: 0 0 20px;
   }
}

/*favorite animal*/

.favoriteAnimal {
   width: 570px;
   margin-top: 130px;
}

.favoriteAnimal__text {
   font-family: 'SceneW01-Black';
   font-size: 70px;
   letter-spacing: 0.03em;
   line-height: 84px;
}

.btn {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   height: 51px;
   background: #70CB0E;
   border: none;
   border-radius: 30px;
   padding: 0 60px;
}

.btn:hover {
   background: #71bd21;
}

.btn:active {
   background: #558d19;
}

.favoriteAnimal__btn__play {
   margin-top: 50px;
   width: 233px;
}

@media (max-width: 1100px) {
   .header__menu {
      margin-bottom: 0;
   }
   .header__container {
      height: 700px;
      padding: 0 20px;
   }
   .favoriteAnimal__text {
      line-height: 120%;
      font-size: 50px;
   }
   .favoriteAnimal {
      max-width: 65vw;
      margin-top: 70px;
   }
}

@media (max-width: 640px) {
   .favoriteAnimal__btn__play {
      width: 187px;
   }
}

@media (max-width: 320px) {
   .header__container {
      padding: 0 10px;
   }
   .favoriteAnimal__btn__play {
      width: 220px;
   }
   .header__menu {
      margin-bottom: 0px;
   }
}

/*How it works*/

.main__container {
   margin: 90px auto 200px;
   max-width: 1360px;
}

.title {
   font-weight: 500;
   font-size: 40px;
   text-align: center;
   margin-bottom: 60px;
}

.main__title {
   margin-bottom: 30px;
   margin-top: 100px;
}

.main__animals {
   height: 550px;
   background: url("../assets/images/map1.png") 50%/cover no-repeat;
   margin-bottom: 30px;
   display: flex;
   align-items: center;
}

.main__list {
   display: flex;
   position: relative;
   align-items: center;
   height: 100%;
   justify-content: center;
   width: 100%;
}


.main__iteme__img {
   width: 250px;
   height: 350px;
   position: relative;
}
.main__iteme {
   width: 250px;
   height: 350px;
   position: absolute;
   align-items: center;
   justify-content: center;
   top:100px
}

.main__iteme[data-pos="0"] {
   transform: scale(1.4, 1.29);
   z-index: 5;
}

.main__iteme[data-pos="-1"], .main__iteme[data-pos="1"] {
   z-index: 4;
}

.main__iteme[data-pos="-1"] {
    transform: translateX(-120%) scale(1.2, 1.14); 
}

.main__iteme[data-pos="1"] {
   transform: translateX(120%) scale(1.2, 1.14);
}

.main__iteme[data-pos="-2"] {
   transform: translateX(-225%); 
   z-index: 3;
}

.main__iteme[data-pos="2"] {
   transform: translateX(225%);
   z-index: 3;
}


@media (max-width:1390px) {
   /* .main__animals {
      padding: 0 10px;
   }
    */
   .main__iteme[data-pos="-1"] {
       transform: translateX(-100%) scale(1.2, 1.14); 
   }
   
   .main__iteme[data-pos="1"] {
      transform: translateX(100%) scale(1.2, 1.14);
   }
   
   .main__iteme[data-pos="-2"] {
      transform: translateX(-200%); 
      z-index: 3;
   }
   
   .main__iteme[data-pos="2"] {
      transform: translateX(200%);
      z-index: 3;
   }
}
.main__subtitle {
   margin: auto;
   width: 933px;
   text-align: center;
   font-size: 16px;
   line-height: 22px;
}

.main__subtitle__link {
   color: #267BDE;
}


@media (max-width: 1280px) {
   .main__iteme[data-pos="-1"] {
      transform: translateX(-100%) scale(1.2, 1.14); 
  }
  
  .main__iteme[data-pos="1"] {
     transform: translateX(100%) scale(1.2, 1.14);
  }
  
  .main__iteme[data-pos="-2"] {
     transform: translateX(-185%); 
     z-index: 3;
  }
  
  .main__iteme[data-pos="2"] {
     transform: translateX(185%);
     z-index: 3;
  }
   .main__subtitle {
      width: 78vw;
      line-height: 125%;
   }
}

@media (max-width: 640px) {
   .main__subtitle {
      line-height: 123%;
   }
}

@media (max-width: 500px) {
   .main__list {
      display: grid;
      grid-template: 39% 39%/45% 45%;
      align-items: end;
      align-content: center;
   }
   .main__iteme__img {
      width: 140px;
      height: 215px;
      object-fit: cover;
      object-position: center;
   }
   .main__iteme_tiger {
      order: 1;
      transform: scale(1.15, 1.01) translate(-5px, -10px);
      z-index: 1;
   }
   .main__iteme_eagle {
      order: 2;
      transform: scale(1) translate(-10px, 25px);
      z-index: 2;
   }
   .main__iteme_panda {
      order: 3;
      transform: scale(1) translate(10px, -25px);
      z-index: 3;
   }
   .main__iteme_monkey {
      order: 4;
      transform: scale(1.15, 1.01) translate(0, 10px);
      z-index: 1;
   }
   .main__iteme_elefant {
      display: none;
   }
   .main__subtitle {
      width: 88vw;
      line-height: 125%;
   }
}

/*Pets in zoo*/

.pets_wrapper {
   margin-bottom: 35px;
}

.pets__title {
   margin-bottom: 65px;
}

.slider__btn__left, .slider__btn__right {
   border-radius: 50px;
   background-color: white;
   border: none;
}

.slider__btn:hover, .slider__btn:active {
   opacity: 0.8;
}

.pets__slider {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.pets__collection {
   overflow: hidden;
   position: relative;
   width: 1012px;
   height: 690px;
}
/* .pets__collection::-webkit-scrollbar {
   height: 0;
} */

.pets__collection__container {
   display: flex;
   position: relative;
   width:max-content;
   top: 0;
   left: -1012px;
   /* flex-direction: row;
   justify-content: space-between; */
}
.pets__itemes__container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   transition: all 2s;
   width: 1012px;
   height: 690px;

}
.pets__collection__container.shifting {
   transition: left 0.3s ease-out;
 }
.pets__iteme {
   display: flex;
   flex-direction: column;
}

.pets__iteme:last-child {
   margin-right: 0px;
}

.pets__iteme__img1 {
   transform: scale(0.9);
}

.pets__iteme__img {
   transform: scale(0.9);
}

.pets__iteme__img1:hover, .pets__iteme__img:hover {
   transform: scale(1.0);
}

@media (max-width: 1150px) {
   .pets__collection {
      width: 1075px;
   }
   .pets__collection__container {
      order: 1;
   }
   .pets__iteme__img, .pets__iteme__img1 {
      object-fit: cover;
      object-position: center center;
   }
   .slider__btn.left {
      order: 2;
      margin: 10px 10px;
   }
   .slider__btn.right {
      order: 3;
      margin: 10px 10px;
   }
}

@media(max-width:1006px) {
   .pets__collection__container {
      justify-content: space-around;
   }
   .pets__iteme__img, .pets__iteme__img1 {
      width: 210px;
      height: 330px;
   }
}

@media (max-width: 830px) {
   .pets__iteme.last {
      display: none;
   }
}

@media (max-width: 625px) {
   .pets__iteme__img, .pets__iteme__img1 {
      width: 160px;
      height: 330px;
   }
}

@media (max-width: 480px) {
   .slider__btn.right, .slider__btn.left {
      margin: 10px 10px 20px;
   }
   .choose__btn {
      width: 300px;
   }
   .pets__iteme.last_320 {
      display: none;
   }
}

/*donation Instruction*/

.donation__title {
   margin-bottom: 80px;
}

.donation__img {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   position: relative;
   padding: 0 15px 0 55px;
   width: 100%;
}

.img_640 {
   display: none;
}

.img_arrows {
   position: absolute;
   top: -3px;
}

.img_arrows_down, .img_320 {
   display: none;
}

.pets__btn {
   text-align: center;
}

@media (max-width: 1028px) {
   .donation__img {
      padding: 10px 30px;
   }
   .img {
      display: none;
   }
   .img_640 {
      display: block;
   }
}

@media (max-width: 849px) {
   .img_arrows {
      display: none;
   }
   .img_arrows_down {
      display: inline-block;
      right: 8%;
   }
}

@media (max-width: 584px) {
   .donation__img {
      flex-direction: column;
      justify-content: space-between;
      padding: 0 20px;
      height: 1040px;
      align-items: center;
   }
   .img_arrows_down {
      display: none;
   }
   .img_320 {
      display: block;
      width: max-content;
      margin-bottom: -35px;
   }
}

/*testimonials*/

.testimonials__container {
   margin-bottom: 90px;
   position: relative;
}

.testimonials__title {
   margin: 0 auto;
   margin-bottom: 75px;
   width: max-content;
   text-align: center;
}

.testimonials__slider {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   margin: 0 0 50px;
}

.testimonials__iteme {
   width: 233px;
   background: #A7E1FF;
   padding: 22px 20px 30px;
   line-height: 19px;
}

.testimonials__collection {
   display: flex;
   flex-direction: row;
   font-size: 16px;
   justify-content: space-between;
   width: 992px;
}

.testimonial__title {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 20px;
}

.testimonial__donate {
   font-size: 12px;
}

.testimonial__donate>img {
   margin-top: 3px;
}

.testimonial__person {
   margin-left: 10px;
   margin-top: 8px;
}

.testimonial__name {
   font-weight: 500;
}


/*leave_feadback field start*/
.testimonials__leave_feadback {
   width: 630px;
   height: 436px;
   position: fixed;
   top: 50%;
   margin-top:calc(-436px/2);
   left: 50%;
   transition: 100ms ease-in-out;
   margin-left: calc(-630px/2);
   background-color: white;
   z-index: 4;
   visibility: hidden;
}

.testimonials__leave_feadback.active {
   visibility: visible;
}

.close_pop_up {
   position: absolute;
   right: 10px;
   top: 10px;
   width: 32px;
   height: 32px;
   opacity: 0.3;
   cursor: pointer;
}

.close_pop_up:hover {
   opacity: 1;
}

.close_pop_up:before, .close_pop_up:after {
   position: absolute;
   left: 15px;
   content: ' ';
   height: 33px;
   width: 2px;
   background-color: #333;
}

.close_pop_up:before {
   transform: rotate(45deg);
}

.close_pop_up:after {
   transform: rotate(-45deg);
}

.testimonials__leave_feadback__container {
   margin: 40px auto;
   width: max-content;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 336px;
}

.testimonial__leave_feadback {
   background: #DFF5B0;
   border: 1px solid #9CA498;
   width: 470px;
   padding: 0 5px;
   padding: 10px;
   font-size: 16px;
}

.testimonial__leave_feadback.name, .testimonial__leave_feadback.email {
   height: 40px;
}
.testimonial__leave_feadback.email:invalid, .testimonial__leave_feadback.feadback:invalid {
   border: 2px solid red;
 }
.testimonial__leave_feadback.feadback {
   height: 180px;
   resize: none;
}

.testimonial__leave_feadback__submit {
   width: 177px;
   height: 40px;
   cursor: pointer;
}
/*leave_feadback field end*/


.testimonial__btn {
   text-align: center;
}

@media (max-width: 1156px) {
   .testimonials__slider {
      justify-content: center;
      overflow: hidden;
   }
   .testimonials__collection {
      width: 95%;
      order: 1;
   }
   .testimonials__iteme {
      width: 24%;
   }
   .slider__btn {
      order: 2;
   }
   .slider__btn {
      margin: 25px 10px 0;
   }
   .btn {
      padding: 0 50px;
   }
   .testimonial__person {
      width: 58%;
   }
   .testimonial__title__img {
      width: 52px;
      height: 52px;
   }
   .testimonial__person {
      margin-top: 0;
   }
}

@media (max-width: 1000px) {
   .testimonials__slider {
      overflow: hidden;
   }
}

@media (max-width: 850px) {
   .testimonials__iteme.last {
      display: none;
   }
   .testimonials__iteme {
      width: 32%;
      padding: 22px 25px 30px 20px;
   }
}

@media (max-width: 600px) {
   .testimonials__title {
      margin-bottom: 80px;
   }
   .testimonial__title {
      margin-bottom: 20px;
   }
   .testimonials__collection {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 535px;
      margin: 0 10px;
   }
   .testimonials__iteme {
      width: 100%;
      padding-bottom: 20px;
   }
   .testimonials__iteme.barden {
      display: none;
   }
}

@media (max-width: 320px) {
   .testimonials__collection {
      justify-content: space-between;
   }
}

/*footer*/

.footer {
   background: url("../assets/images/footer.png") 0 10px/cover no-repeat;
   width: 100%;
}

.footer__wrapper {
   background: url("../assets/images/footer2.png") 50%/cover no-repeat;
   min-height: 280px;
   position: relative;
   max-width: 1165px;
   margin: auto;
}

.footer__container {
   min-height: 170px;
   position: absolute;
   top: 35%;
   margin-top: -0.625em;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   font-size: 18px;
   font-family: 'Roboto';
}

.footer__logo-pic {
   width: 98px;
}



/*donate field start*/
.donate_field{
   width: 630px;
   height: 339px;
   position: fixed;
   top: 50%;
   margin-top: calc(-339px/2);
   left: 50%;
   transition: 100ms ease-in-out;
   margin-left: calc(-630px/2);
   background-color: white;
   z-index: 4;
   visibility: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.donate_field.active{
   visibility: visible;
}
.donate_field__container{

   width: 470px;
   height: 179px;
   margin:60px auto 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.donate_field__option{
   border: 1px solid #9CA498;
   width: 470px;
   height: 39px;
   padding: 10px;
   font-size: 16px;
 
}


/*donate__menu drop-down list start*/
.donate__menu{
   position: relative;
   width: 470px;
   height: 40px;
  
}
.donate__menu__list{
   background-color: #DFF5B0;
   text-align: center;
   border: 1px solid #9CA498;
   position: absolute;
   width: 470px;
   display: flex;
   flex-direction: column;
   z-index: 99;
}
.donate__menu__item{
   display: none;
   height: 39px;
   padding: 10px;
   font-size: 16px;
   cursor: pointer;
}
.donate__menu__list::after {
  
   position: absolute;
   content: "";
   top: 10px;
   right: 10px;
   transform: rotate(45deg);
   border:  solid gray;
   border-width: 0 2px 2px 0;
   padding: 6px;
   cursor: pointer;
}
 
.donate__menu__list.arrow_up::after  {
   transform: rotate(-135deg);
   top: 15px;
   cursor: pointer;
 }
.donate__menu__item.selected{
   display: block;
   order: -1;
}
.donate__menu__item.active{
   display: block;
}
.donate__menu__item.active:hover{
   background-color: rgba(0, 0, 0, 0.1);
}
/*donate__menu drop-down list end*/


.donate_field__option.amount{
   width: 303px;
   text-align: center;
}
.donate__currency{
   width: 159px;
   margin-left: -10px;
   text-align: center;
   
}
.donate__currency__list{
   width: 159px;
   background-color: white;
   position: absolute;
   border: 1px solid #9CA498;
   
   height: 39px;
   display: flex;
   flex-direction: column;
   justify-content:space-around ;
}
.donate__currency__list.active{
   height: 70px;
}
.donate__currency__list.active::after {
  
   position: absolute;
   content: "";
   top: 10px;
   right: 10px;
   transform: rotate(-135deg);
   border:  solid gray;
   border-width: 0 2px 2px 0;
   padding: 6px;
   cursor: pointer;
}
.currency__item{
   display: none;
   cursor: pointer;
}
.currency__item.active,.currency__item.selected{
   display: block;
}

.donate_field__option.text{
   width: 470px;
   height: 85px;
   resize: none;
}
.donate_field__btn{
   margin:0 auto;
   height: 40px;
}
/*donate field end*/
/*donate field pay start*/
.donate_field_pay{
   visibility: hidden;
   justify-content: flex-end;
   height: 389px;
}
.donate_field_pay.active{
   visibility: visible;
}
.donate_field_pay__option{
   height: 39px;
   border: 1px solid gray;
   padding: 10px;
   margin-bottom: 8px;
   text-align: center;
}
.donate__card{
   width: 358px;
   height: 203px;
border-radius: 10px;
position: absolute;

}
.donate__card.font{
   padding: 35px 26px;
   top:50px;
   left: 50px;
   background: linear-gradient(0deg, #DCDCDC, #DCDCDC), linear-gradient(0deg, #DCDCDC, #DCDCDC), #DCDCDC;
z-index: 5;
}
.donate_field_pay__option.card_number, 
.donate_field_pay__option.name{
   width: 306px;
   text-transform: capitalize;
}
.donate_field_pay__option.month,
.donate_field_pay__option.year{
   width: 80px;
}
.donate__card.back{
   top:100px;
   right: 50px;
   background: #C6C5C5;
   width: 326px;
height: 189px;
   z-index: 4;
}
.donate_field_pay__option.cvc{
   position: absolute;
   top: 73px;
   right: 56px;
   width: 75px;
height: 35px;
}
.stripe{
   width: 326px;
   background: linear-gradient(0deg, #A8A8A8, #A8A8A8), linear-gradient(0deg, #A8A8A8, #A8A8A8), linear-gradient(0deg, #A8A8A8, #A8A8A8), linear-gradient(0deg, #A8A8A8, #A8A8A8), linear-gradient(0deg, #A8A8A8, #A8A8A8), linear-gradient(0deg, #A8A8A8, #A8A8A8), #A8A8A8;
}
.magnetic_stripe{
   height: 37px;
   margin-bottom: 8px;
   margin-top: 28px;
}
.stripe_item{
    height: 5px;
    margin-bottom: 5px;
}
.donate_pay__btn{
   height: 40px;
   margin-bottom: 40px;
}
.invalid{
   border: 1px solid red;
}
/*donate field pay end*/
.footer__btn {
   width: 30%;
}
.donate__btn {
   padding: 0 30px;
   margin: 0 0 0 25px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   height: 51px;
   background: #70CB0E;
   border: none;
   border-radius: 30px;
}

.btn:hover {
   background: #71bd21;
}

.btn:active {
   background: #558d19;
}

.footer__nav {
   display: flex;
   flex-wrap: wrap;
   width: 22%;
   justify-content: space-between;
}

.footer__list {
   display: flex;
   flex-direction: column;
   height: 58px;
   justify-content: space-between;
}

.footer__link {
   font-weight: 500;
   line-height: 21px;
   text-decoration: none;
   color: black;
}

.footer__link:hover, .footer__link:focus {
   color: #796315;
}

.footer__link:active {
   color: #53460e;
}

.social_network__container {
   width: 21%;
}

.social_networks {
   float: right;
   width: 190px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-self: center;
}

.instagram_link {
   display: block;
   width: 40px;
   height: 40px;
   background: url("../assets/icons/instagram.svg") no-repeat;
}

.facebook_link {
   display: block;
   width: 40px;
   height: 40px;
   background: url("../assets/icons/Facebook.svg") no-repeat;
}

.twitter_link {
   display: block;
   width: 40px;
   height: 40px;
   background: url("../assets/icons/Twitter.svg") no-repeat;
}

.youtube_link {
   display: block;
   width: 40px;
   height: 40px;
   background: url("../assets/icons/Youtube.svg") no-repeat;
}

.social_network:hover, .social_network:focus {
   opacity: 0.4;
}

.social_network:active {
   opacity: 0.4;
}

.footer__info {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-end;
}

.footer__copyright {
   height: max-content;
}

.footer__logo_info {
   width: 25%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-end;
}

.footer__info {
   width: 68%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

@media (max-width:900px) {
   .footer__wrapper {
      min-height: 370px;
   }
   .footer__container {
      top: 28%;
      height: 260px;
      padding: 0 20px;
   }
   .footer__logo {
      order: 1;
   }
   .footer__nav {
      order: 2;
      width: 32%;
   }
   .social_network__container {
      order: 3;
      width: 34%;
   }
   .footer__logo_info {
      order: 4;
      width: 52%;
      align-items: center;
   }
   .footer__btn {
      order: 5;
      width: 40%;
      text-align: bottom;
      position: relative;
   }
   .donate__btn {
      padding: 0 15px;
      margin-top: 10%;
      float: right;
   }
   .footer__info {
      order: 6;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      align-items: center;
   }
   .footer__autor {
      order: 1;
   }
   .footer__copyright {
      order: 2;
      margin-top: 10px;
   }
}

@media (max-width:600px) {
   .footer__wrapper {
      min-height: 752px;
   }
   .footer__container {
      height: 640px;
      width: 100%;
      flex-direction: column;
      top: 14%;
      padding: 0 10px;
      align-items: center;
   }
   .footer__nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 129px;
      justify-content: space-between;
      margin-top: 0;
      align-items: center;
   }
   .footer__list {
      text-align: center;
   }
   .footer__btn {
      order: 3;
      width: 100%;
      text-align: center;
   }
   .donate__btn {
      padding: 0 20px;
      float: none;
      margin: 0;
   }
   .social_network__container {
      width: fit-content;
   }
   .footer__logo_info {
      width: 100%;
   }
   .footer__info {
      width: 75%;
      align-self: center;
   }
   .footer__copyright {
      text-align: center;
   }
   .footer__copyright_and {
      display: none;
   }
}

.overlay {
   position: fixed;
   opacity: 0;
   transition: 200ms ease-in-out;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, .5);
   pointer-events: none;
   z-index: 3;
}

.overlay.active {
   opacity: 1;
   cursor: pointer;
   pointer-events: all;
}